In [62]:
import datadotworld as dw
import pandas as pd
import numpy as np

In [103]:
acquisitions_df = dw.query(
    'lynxrose/startup-analysis',
    '''SELECT company_name, acquirer_name, acquirer_category_list,
    acquirer_country_code, acquirer_state_code, acquirer_city,
    acquired_at, price_amount
    FROM acquisitions WHERE company_country_code = 'USA' and price_currency_code = 'USD'
    ''')

In [64]:
company_df = dw.query(
    'lynxrose/startup-analysis',
    '''SELECT name, homepage_url, category_list, funding_total_usd, status, 
    State_code, City, funding_rounds,founded_at, first_funding_at
    FROM companies WHERE country_code = 'USA' 
    ''').dataframe

In [72]:
company_df['hasWebsite'] = (company_df['homepage_url']!='None').any()

In [88]:
company_df['homepage_url'].str.startswith('http')

26553

In [100]:
company_df['homepage_url'][company_df['homepage_url'].str.startswith('http')]

TypeError: bad operand type for unary ~: 'NoneType'

In [73]:
acquisitions_df.count()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7153 entries, 0 to 7152
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   company_name            7153 non-null   object
 1   acquirer_name           7153 non-null   object
 2   acquirer_category_list  6342 non-null   object
 3   acquirer_country_code   6802 non-null   object
 4   acquirer_state_code     6097 non-null   object
 5   acquirer_city           6761 non-null   object
 6   acquired_at             7153 non-null   object
 7   price_amount            2210 non-null   float64
dtypes: float64(1), object(7)
memory usage: 447.2+ KB

In [74]:
company_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28793 entries, 0 to 28792
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               28793 non-null  object
 1   homepage_url       26553 non-null  object
 2   category_list      27032 non-null  object
 3   funding_total_usd  28793 non-null  int64
 4   status             28233 non-null  object
 5   State_code         28767 non-null  object
 6   City               28730 non-null  object
 7   funding_rounds     28793 non-null  int64
 8   founded_at         23696 non-null  object
 9   first_funding_at   28793 non-null  object
 10  hasWebsite         28793 non-null  bool
dtypes: bool(1), int64(2), object(8)
memory usage: 2.2+ MB

In [75]:
company_df.dropna(subset = ['status'])

ImportError: cannot import name 'map' from 'pandas.compat' (/opt/conda/lib/python3.8/site-packages/pandas/compat/__init__.py)

In [76]:
 full_df = pd.merge(company_df,acquisitions_df, how='left', left_on=['name'], right_on=['company_name'])

In [101]:
full_df.head(30)

ImportError: cannot import name 'lzip' from 'pandas.compat' (/opt/conda/lib/python3.8/site-packages/pandas/compat/__init__.py)

                                 name                        homepage_url  \
0                            #waywire              http://www.waywire.com
1                  &TV Communications               http://enjoyandtv.com
2                          CornerBlue               http://cornerblue.com
3                Cornerstone OnDemand  http://www.cornerstoneondemand.com
4         Cornerstone Pharmaceuticals    http://www.cornerstonepharma.com
5              Cornerstone Properties                                None
6            Cornerstone Therapeutics                 http://www.crtx.com
7                             Cornice            http://www.corniceco.com
8                             CorNova              http://www.cornova.com
9                         Coro Health           http://www.corohealth.com
10                        Corona Labs           http://www.coronalabs.com
11               Coronado Biosciences  http://www.coronadobiosciences.com
12                             Addapp                  https://addapp.io/
13                             CORP80              http://www.corp80.com/
14                            Corpora                                None
15                    Corporate Times                                None
16                           Corpsolv                                None
17                              CorpU                http://www.corpu.com
18  Correctional Healthcare Companies           http://correctioncare.com
19                         CorrectNet           http://www.correctnet.com
20      Correlated Magnetics Research  http://www.correlatedmagnetics.com
21                           Correlix             http://www.correlix.com
22                        Correlsense          http://www.correlsense.com
23                             Correx                http://correxinc.com
24           Corridor Pharmaceuticals       http://www.corridorpharma.com
25      Corrigan and Aburn Sportswear        http://www.casportswear.com/
26                            Corrigo              http://www.corrigo.com
27                            Addepar              http://www.addepar.com
28                       Corrupt Lace                                None
29                            Corsair              http://www.corsair.com

                                        category_list  funding_total_usd  \
0          |Entertainment|Politics|Social Media|News|            1750000
1                                             |Games|            4000000
2                                |Advertising|Mobile|             300000
3            |Enterprises|Career Management|Software|           44700000
4                                     |Biotechnology|           19179100
5                                       |Real Estate|                  0
6                                     |Biotechnology|           30000000
7                               |Hardware + Software|          148000000
8                                     |Biotechnology|            7885000
9                               |Health and Wellness|            2000000
10   |Software|Apps|Games|Android|iPad|iPhone|Mobile|            3000000
11        |Health Care|Pharmaceuticals|Biotechnology|           62758534
12  |Software|Health and Wellness|Personal Health|...            1800000
13                                     |Social Media|             100000
14                                               None              15000
15                                      |Real Estate|                  0
16                                       |Consulting|                  0
17                                     |Social Media|            4500000
18                                    |Biotechnology|           10653722
19                                        |Analytics|            3370000
20                              |Hardware + Software|           10451365
21                              |Enterprise Software|           11400000
22                                         |Software|           21000000
23                                      |Health Care|            6550000
24                                    |Biotechnology|           27620904
25                                          |Fashion|                  0
26                                         |Software|           20000000
27                                     |SaaS|Finance|           65839694
28                                               None               1750
29                              |Hardware + Software|           75000000

       status State_code               City  funding_rounds  founded_at  \
0    acquired         NY           New York               1  2012-06-01
1   operating         CA        Los Angeles               2        None
2   operating         CA       Santa Monica               1  2006-02-22
3   operating         CA       Santa Monica               2  1999-11-01
4   operating         NJ           Cranbury               4  2000-01-01
5   operating         WA         Marysville               1  1996-02-28
6   operating         NC               Cary               1        None
7   operating         CO           Longmont               2  2000-08-21
8   operating         MA         Burlington               3  2003-10-01
9   operating         TX             Austin               1        None
10   acquired         CA          Palo Alto               3  2008-01-01
11  operating         WA            Seattle               5  2006-01-01
12  operating         CA      San Francisco               1  2014-04-03
13  operating         OH           Delaware               1  2012-01-01
14  operating         TN        Chattanooga               1        None
15  operating         CA          San Diego               1  2005-05-06
16  operating         NJ         Middletown               1  2001-01-01
17  operating         PA      Mechanicsburg               1        None
18  operating         CO  Greenwood Village               2  2006-01-01
19   acquired         NY          Hauppauge               2  1997-01-01
20  operating         AL         Huntsville               1  2008-01-01
21     closed         NY           New York               4  2006-01-01
22  operating         MA         Framingham               6  2005-01-01
23  operating         MA            Waltham               3        None
24  operating         MD             Towson               4  2007-01-01
25  operating         MD          Baltimore               1  1994-01-31
26  operating         OR           Tualatin               2  1999-01-01
27  operating         CA      Mountain View               2  2009-01-01
28  operating         TX            Houston               1  2014-05-21
29  operating         CA            Fremont               1  1994-01-01

   first_funding_at  hasWebsite company_name      acquirer_name  \
0        2012-06-30        True     #waywire   Waywire Networks
1        2010-06-04        True          NaN                NaN
2        2011-01-06        True          NaN                NaN
3        2007-09-17        True          NaN                NaN
4        2008-12-15        True          NaN                NaN
5        2013-10-23        True          NaN                NaN
6        2012-07-02        True          NaN                NaN
7        2004-02-27        True          NaN                NaN
8        2009-12-11        True          NaN                NaN
9        2010-11-10        True          NaN                NaN
10       2009-12-01        True  Corona Labs  Fuse Powered Inc.
11       2009-08-04        True          NaN                NaN
12       2014-04-04        True          NaN                NaN
13       2012-11-03        True          NaN                NaN
14       2012-06-01        True          NaN                NaN
15       2012-05-16        True          NaN                NaN
16       2008-12-08        True          NaN                NaN
17       2012-09-26        True          NaN                NaN
18       2010-06-22        True          NaN                NaN
19       2008-06-03        True   CorrectNet           VistaOne
20       2012-09-27        True          NaN                NaN
21       2005-02-19        True          NaN                NaN
22       2007-07-02        True          NaN                NaN
23       2011-02-22        True          NaN                NaN
24       2008-10-23        True          NaN                NaN
25       2011-01-04        True          NaN                NaN
26       2005-06-02        True          NaN                NaN
27       2011-06-15        True          NaN                NaN
28       2014-05-20        True          NaN                NaN
29       2013-05-06        True          NaN                NaN

                               acquirer_category_list acquirer_country_code  \
0                                 |Curated Web|Video|                   USA
1                                                 NaN                   NaN
2                                                 NaN                   NaN
3                                                 NaN                   NaN
4                                                 NaN                   NaN
5                                                 NaN                   NaN
6                                                 NaN                   NaN
7                                                 NaN                   NaN
8                                                 NaN                   NaN
9                                                 NaN                   NaN
10  |Mobile Analytics|Mobile Advertising|Mobile Ga...                   CAN
11                                                NaN                   NaN
12                                                NaN                   NaN
13                                                NaN                   NaN
14                                                NaN                   NaN
15                                                NaN                   NaN
16                                                NaN                   NaN
17                                                NaN                   NaN
18                                                NaN                   NaN
19                                               None                   USA
20                                                NaN                   NaN
21                                                NaN                   NaN
22                                                NaN                   NaN
23                                                NaN                   NaN
24                                                NaN                   NaN
25                                                NaN                   NaN
26                                                NaN                   NaN
27                                                NaN                   NaN
28                                                NaN                   NaN
29                                                NaN                   NaN

   acquirer_state_code acquirer_city acquired_at  price_amount
0                   NY      New York  2013-10-17           NaN
1                  NaN           NaN         NaN           NaN
2                  NaN           NaN         NaN           NaN
3                  NaN           NaN         NaN           NaN
4                  NaN           NaN         NaN           NaN
5                  NaN           NaN         NaN           NaN
6                  NaN           NaN         NaN           NaN
7                  NaN           NaN         NaN           NaN
8                  NaN           NaN         NaN           NaN
9                  NaN           NaN         NaN           NaN
10                  ON       Toronto  2014-11-04           NaN
11                 NaN           NaN         NaN           NaN
12                 NaN           NaN         NaN           NaN
13                 NaN           NaN         NaN           NaN
14                 NaN           NaN         NaN           NaN
15                 NaN           NaN         NaN           NaN
16                 NaN           NaN         NaN           NaN
17                 NaN           NaN         NaN           NaN
18                 NaN           NaN         NaN           NaN
19                  CA   Santa Clara  2011-05-18           NaN
20                 NaN           NaN         NaN           NaN
21                 NaN           NaN         NaN           NaN
22                 NaN           NaN         NaN           NaN
23                 NaN           NaN         NaN           NaN
24                 NaN           NaN         NaN           NaN
25                 NaN           NaN         NaN           NaN
26                 NaN           NaN         NaN           NaN
27                 NaN           NaN         NaN           NaN
28                 NaN           NaN         NaN           NaN
29                 NaN           NaN         NaN           NaN